:root {
  --primary: #90b66f;
  --primary-text: #081410;
  --secondary: #081410;
  --secondary-text: #dbeeca;
  --accent: #40644f;
  --accent-text: #dbeeca;
}
a:hover, a:visited, a:link, a:active {

  text-decoration: none!important;
  color:var(--secondary-text);

  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
