:root {
  --primary: #b2beb2;
  --primary-text: #242e30;
  --secondary: #62756a;
  --secondary-text: #e7eeea;
  --accent: #242e30;
  --accent-text: #b2beb2;
}
a:hover, a:visited, a:link, a:active {

  text-decoration: none!important;
  color:var(--accent-text);

  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
